@mixin gradientColor() {
  background: $bgGradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
}

@mixin displayACenter() {
  display: flex;
  align-items: center;
}

@mixin flexColumn() {
  display: flex;
  flex-direction: column;
}
