$tBHeaderPadding: 20px;
$lRPadding: 16px;

$bgColor: var(--black, #0e1014);
$bgGradient: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);

$linkFS: 12px;
$linkTransition: ease-out 0.1s;

$mainWeight: 500;
$mainColor: var(--light-text, #e4e5ea);
$secondColor: var(--dark-gray, #656566);

$mainFont: Inter;
$secondFont: Montserrat;

$pcPadding: 10.416666%;
$mobilePadding: 5%;
