.header {
  position: fixed;
  z-index: 10000;

  width: 100vw;
  background-color: $bgColor;

  &__nav {
    @include displayACenter();

    justify-content: space-between;
    padding: 20px 0px;
  }

  &--link {
    font-size: $linkFS;
    text-transform: uppercase;
  }
}
