.inner__top {
  display: flex;
  flex-direction: column;
  gap: 45px;

  padding-top: 40px;
  padding-bottom: 59px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .header__title {
      color: $mainColor;
      font-family: $mainFont;
      font-size: 36px;
      font-weight: $mainWeight - 100;

      &--main {
        @media (min-width: 768px) {
          width: 362px;
        }
      }
      &--second {
        font-weight: $mainWeight + 400;

        @media (min-width: 768px) {
          width: 275px;
          margin-top: -2px;
        }
      }

      @media (min-width: 768px) {
        font-size: 48px;
        display: grid;
      }
    }

    .header--text {
      color: $mainColor;
      font-family: $secondFont;
      font-size: 18px;
      font-weight: $mainWeight - 100;

      @media (min-width: 768px) {
        width: 275px;
      }
    }

    @media (min-width: 768px) {
      gap: 30px;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .footer__title {
      height: 44px; // стили верны, но 2px не хватает

      color: $mainColor;
      font-family: $mainFont;
      font-size: 18px;
      font-weight: $mainWeight;

      .mark {
        font-weight: $mainWeight + 200;

        @media (min-width: 768px) {
          letter-spacing: 0.9px;
          text-transform: uppercase;
        }
      }

      @media (min-width: 768px) {
        width: 291px;
        text-align: right;
      }
    }

    .footer__content {
      display: grid;
      grid-template-columns: 124px 141px;
      row-gap: 14px;
      list-style: none;

      color: $mainColor;
      letter-spacing: 0.65px;
      text-transform: uppercase;
      font-family: $secondFont;
      font-size: 13px;
      font-weight: $mainWeight - 100;

      &--li {
        position: relative;
        padding-left: 15px;

        &::before {
          position: absolute;
          left: 0px;
          top: 7px;

          content: "";
          width: 10px;
          height: 1px;
          background: $bgGradient;
        }
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    .footer__pc__content {
      display: none;

      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 164px 135px;
        row-gap: 33px;
        column-gap: 30px;
        max-width: 330px;
        // display: flex;
        // flex-wrap: wrap;
        // gap: 30px;
        // justify-content: space-between;

        &__li {
          display: flex;
          flex-direction: column;
          align-items: end;
          gap: 7px;

          list-style: none;
          text-align: right;
          color: $mainColor;

          .li--header {
            font-family: $mainFont;
            font-size: 18px;
            font-weight: $mainWeight;
            letter-spacing: 0.9px;
            text-transform: uppercase;
          }

          .li--text {
            color: #e4e5ea;
            text-align: right;
            font-family: $secondFont;
            font-size: 16px;
            font-weight: $mainWeight - 100;
          }
        }
      }
    }

    .footer--btn {
      display: none;

      @media (min-width: 768px) {
        display: block;
        margin-top: 21px;
        margin-bottom: 10px;
        padding: 21px 35px;

        border: none;
        background: #4077f3;

        color: $mainColor;
        font-family: $mainFont;
        font-size: 16px;
        font-weight: $mainWeight;
      }
    }

    @media (min-width: 768px) {
      gap: 40px;
      align-items: end;
      padding-top: 17px;
    }
  }

  @media (min-width: 768px) {
    padding-top: 208px;
    flex-direction: row;
    justify-content: space-between;
  }
}
