.inner__top {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 45px;

  padding-top: 40px !important;
  padding-bottom: 59px !important;
  width: 100vw;
  background-color: $bgColor;

  //   background: url("/img/noise.png"), lightgray 0% 0% / 100px 100px repeat;
  //   mix-blend-mode: overlay;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .header__title {
      color: $mainColor;
      font-family: $mainFont;
      font-size: 36px;
      font-weight: $mainWeight - 100;

      &--main {
      }
      &--second {
        font-weight: $mainWeight + 400;
      }
    }

    .header--text {
      color: $mainColor;
      font-family: $secondFont;
      font-size: 18px;
      font-weight: $mainWeight - 100;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .footer__title {
      height: 44px; // стили верны, но 2px не хватает

      color: $mainColor;
      font-family: $mainFont;
      font-size: 18px;
      font-weight: $mainWeight;

      .mark {
        font-weight: $mainWeight + 200;
      }
    }

    .footer__content {
      display: grid;
      grid-template-columns: 124px 141px;
      row-gap: 14px;
      list-style: none;

      color: $mainColor;
      letter-spacing: 0.65px;
      text-transform: uppercase;
      font-family: $secondFont;
      font-size: 13px;
      font-weight: $mainWeight - 100;

      &--li {
        position: relative;
        padding-left: 15px;
      }

      &--li::before {
        position: absolute;
        z-index: 10000;
        left: 0px;
        top: 7px;

        content: "";
        width: 10px;
        height: 1px;
        background: $bgGradient;
      }
    }
  }

  .purple-light {
    position: absolute;
    top: 30%;
    right: -200px;

    width: 259px;
    height: 259px;
    flex-shrink: 0;
    border-radius: 259px;

    opacity: 0.5;
    background: #833ab4;
    filter: blur(196px);
  }
  .red-light {
    position: absolute;
    bottom: -6px;
    left: -20px;

    width: 211px;
    height: 210px;
    flex-shrink: 0;
    border-radius: 211px;

    fill: #961a1a;
    opacity: 0.5;
    filter: blur(196px);
  }

  .yellow-light {
    position: absolute;
    bottom: -278px;
    left: -42px;

    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 200px;

    fill: #fcb045;
    opacity: 0.4;
    filter: blur(196px);
  }
}
