.inner__footer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 45px;

  &__articles {
    @include flexColumn();

    gap: 30px;

    @media (min-width: 768px) {
      // flex-flow: row wrap;
      justify-content: space-between;

      display: grid;
      grid-template-columns: 25.679228% 35.758106% 38.562664%;
      gap: 0;
    }
  }
  &__article {
    @include flexColumn();

    gap: 20px;
    font-family: $mainFont;

    .article--title {
      color: $secondColor;
      font-size: $linkFS;
      font-weight: $mainWeight + 200;
      letter-spacing: 0.6px;
      text-transform: uppercase;

      @media (min-width: 768px) {
        font-size: $linkFS + 2;
        letter-spacing: 0.7px;
      }
    }

    .article__ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style: none;

      .article--li {
        color: var(--light-text, #e4e5ea);
        font-size: $linkFS + 2;
        font-weight: $mainWeight - 100;

        @media (min-width: 768px) {
          font-size: $linkFS + 4;
        }
      }

      .medias {
        margin-top: -3px;
        a:hover path {
          fill: $secondColor;
        }
      }
    }
    .grid-ul {
      display: grid;
      grid-template-columns: repeat(2, 123px);
      row-gap: 10px;
      column-gap: 25px;

      @media (min-width: 768px) {
        grid-template-columns: 144px 212px;
        column-gap: 52px;
      }
    }
  }

  &__article:last-child {
    @media (min-width: 768px) {
      justify-self: end;

      .article--title {
        align-self: end;
      }

      .article__ul {
        gap: 20px;

        .article--li {
          align-self: end;
        }
      }

      .medias {
        display: flex;
        gap: 10px;
      }

      .medias a,
      .medias svg {
        height: 20px;
        width: 20px;
      }
    }
  }

  &__privacy {
    display: flex;
    flex-direction: column;
    gap: 5px;

    color: $mainColor;
    font-family: $secondFont;
    font-size: $linkFS;
    font-weight: $mainWeight - 100;

    .privacy--policy {
      text-decoration-line: underline;

      &:hover {
        color: $secondColor;
        font-family: $secondFont;
        font-size: $linkFS;
        font-weight: $mainWeight - 100;
      }
    }

    @media (min-width: 768px) {
      align-items: end;
    }
  }

  @media (min-width: 768px) {
    gap: 33px;
  }
}
