.inner__top {
  display: flex;
  flex-direction: column;
  gap: 45px;

  padding-top: 40px;
  padding-bottom: 59px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .header__title {
      color: $mainColor;
      font-family: $mainFont;
      font-size: 36px;
      font-weight: $mainWeight - 100;

      &--main {
      }
      &--second {
        font-weight: $mainWeight + 400;
      }
    }

    .header--text {
      color: $mainColor;
      font-family: $secondFont;
      font-size: 18px;
      font-weight: $mainWeight - 100;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .footer__title {
      height: 44px; // стили верны, но 2px не хватает

      color: $mainColor;
      font-family: $mainFont;
      font-size: 18px;
      font-weight: $mainWeight;

      .mark {
        font-weight: $mainWeight + 200;
      }
    }

    .footer__content {
      display: grid;
      grid-template-columns: 124px 141px;
      row-gap: 14px;
      list-style: none;

      color: $mainColor;
      letter-spacing: 0.65px;
      text-transform: uppercase;
      font-family: $secondFont;
      font-size: 13px;
      font-weight: $mainWeight - 100;

      &--li {
        position: relative;
        padding-left: 15px;

        &::before {
          position: absolute;
          left: 0px;
          top: 7px;

          content: "";
          width: 10px;
          height: 1px;
          background: $bgGradient;
        }
      }
    }
  }

  @media (min-width: 768px) {
    padding-top: 209px;
  }
}
